* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* para não ter rolagem de tela */
*::-webkit-scrollbar {
  display: none;
}

body {
  background: #ffffff;
  display: flex;
  overflow: hidden;
}

/* estilização da parte de  menu */
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #211157;
  color: #ffffff;
  font-size: 30px;
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.613);
  width: 20vw;
  height: 100vh;
  flex-direction: column;
  position: relative;
}

/* estilização da logo */
.imgLogo {
  position: absolute;
  top: 50px;
  width: 90px;
}

/* estilização do menu e links */
.links {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.menu a {
  display: flex;
  justify-content: flex-start;
  text-align: start;
}

a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  transition: color 0.2s ease;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 1.5vw;
}

/* transição ao passar o mouse em cima dos links */
a:hover {
  color: rgba(255, 255, 255, 0.61);
}

.menu hr {
  width: 15vw;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.379);
}

/* Container principal dos cards */
.container {
  width: 80vw;
  padding: 40px;
  overflow-y: auto;
  background-color: #ffffff;
  /* Ajuste para rolagem */
  height: 100vh; /* altura máxima visível */
  overflow-y: auto; /* ativa a rolagem vertical */
  padding-right: 10px; /*pra barra não encostar no card*/
}

/* Título da seção */
.titulo {
  font-family: Arial, Helvetica, sans-serif;
  color: #211157;
  font-size: 2.5vw;
  margin-bottom: 30px;
  text-align: center;
}

#relatorio-consultas {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* card */
.card-consulta {
  background: #f8f6ff;
  border-left: 8px solid #211157;
  border-radius: 10px;
  padding: 20px 25px;
  box-shadow: 0 4px 10px rgba(33, 17, 87, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #211157;
  position: relative;
}

/* ao passar o mouse */
.card-consulta:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 16px rgba(33, 17, 87, 0.35);
}

/* estilização do texto */
.card-consulta p {
  margin: 8px 0;
  font-size: 1.1rem;
  line-height: 1.5;
}

.card-consulta strong {
  color: #372e75;
}
/* botão desmarcar */
.btn-desmarcar {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 8px 16px;
  border: 2px solid #211157;
  border-radius: 8px;
  background-color: #211157; /* fundo roxo */
  color: #fff; /* texto branco */
  font-size: 0.95rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
}

.btn-desmarcar:hover {
  background-color: #fff; /* fundo branco */
  color: #211157; /* texto roxo */
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(33, 17, 87, 0.3);
}

.btn-desmarcar:active {
  transform: scale(0.95);
}
